@import url("./variables.less");
@import url("./mixins.less");

// GLOBAL
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

html {
	font-size: 16px;
}

body {
	.monda();
	color: black;
}

a {
	text-decoration: none;
}

// HEADER
header {
	margin: 2rem 5rem;

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.logo {
			max-width: 200px;
			width: 100%;
		}

		.nav-ul {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			list-style-type: none;
			font-size: 1.25rem;
		}

		.nav-ul li a {
			display: inline-block;
			color: @black;
			.julius();
			margin: 0 1rem;
			padding: 0.25rem 0;
			text-decoration: none;
		}

		.hamburger {
			background-color: transparent;
			border: 0;
			display: none;
			font-size: 2rem;
			cursor: pointer;
		}

		.hamburger:focus {
			outline: none;
		}

		.hover-border {
			position: relative;
		}

		.hover-border::after {
			content: "";
			width: 0%;
			height: 0.3rem;
			position: absolute;
			bottom: 0%;
			left: 50%;
			border-radius: 1.5rem;
			transition: all 500ms ease-in-out;
			background-image: @gmc-rainbow;
		}

		.hover-border:hover::after {
			left: 0%;
			width: 100%;
		}
	}
}

main {
	margin: 0 5rem;
}
// TOUR PAGES
.dates,
.individualEvent {
	.julius();
}

.dates {
	h1,
	h2 {
		padding: 0 5%;
	}
}

.locations {
	padding: 0 5%;
	.monda();
}

.accordion {
	background-color: #eee;
	color: @black;
	padding: 3%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after {
	content: "\02795";
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

.panel {
	flex-direction: column;
	display: none;
	overflow: hidden;

	a {
		padding: 3%;
		text-decoration: none;
		color: @black;

		.tickets {
			float: right;
		}
	}

	a:hover {
		background-color: @black;
		color: @white;
	}
}

.active,
.accordion:hover {
	background-color: @white;
	color: @black;
	border: solid 3px @black;
}

ul.breadcrumb {
	padding: 0 5%;
	list-style: none;
	text-decoration: none;
	.monda();

	li {
		display: inline;
		font-size: 18px;

		a {
			color: @black;
		}

		a:hover {
			color: @gmc-indigo;
		}
	}

	//TODO: look this up!
	li + li:before {
		padding: 8px;
		color: @black;
		content: "/\00a0";
	}
}

.individualEvent {
	h1 {
		padding: 0 5%;
	}
}

.eventContent {
	display: flex;
	padding: 0 5%;

	.eventInfo {
		width: 70%;

		h2 {
			margin: 0;
		}

		.purchase {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			div {
				width: 30%;
				background-color: @white;
				padding: 2%;
				text-align: center;
				border: solid 1px;

				a {
					color: @black;
					text-decoration: none;
				}
			}

			div:hover {
				background-color: @black;
				text-decoration: underline;

				a {
					color: @white;
				}
			}
		}
	}

	.eventImg {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		img {
			flex-shrink: 0.75;
			min-width: 100%;
			min-height: 100%;
		}
	}
}

// MEDIA QUERIES
@media only screen and (max-width: 768px) {
	header {
		margin: 1.5rem 2rem;

		nav {
			.nav-ul {
				display: none;
				flex-direction: column;
				width: 100%;
			}

			.nav-ul.show {
				display: flex;
			}

			.hamburger {
				display: block;
			}
		}
	}

	main {
		margin: 0 2rem;
	}
}
