@import url("./variables.less");
@import url("./mixins.less");

// GLOBAL
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

html {
	font-size: 16px;
}

body {
	.monda();
	color: black;
}

a {
	text-decoration: none;
}

// HEADER
header {
	margin: 1rem 2rem;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 8vh;

		.logoimg {
			width: 100%;
			max-width: 200px;
		}
		.nav-links {
			display: flex;
			justify-content: space-around;
			width: 50%;
			text-transform: uppercase;
			.julius();
		}

		.nav-links li {
			list-style: none;
		}

		.nav-links a {
			text-decoration: none;
			color: black;
			letter-spacing: 3px;
			padding: 0.25rem 0;
		}
		.hover-border {
			position: relative;
		}

		.hover-border::after {
			content: "";
			width: 0%;
			height: 0.3rem;
			position: absolute;
			bottom: 0%;
			left: 50%;
			border-radius: 1.5rem;
			transition: all 500ms ease-in-out;
			background-image: @gmc-rainbow;
		}

		.hover-border:hover::after {
			left: 0%;
			width: 100%;
		}
		.burger {
			display: none;
		}

		.burger div {
			width: 25px;
			height: 3px;
			margin: 5px;
			background-color: black;
		}
	}
}

// Contact
.contact-container {
	.h1-subpage {
	  font-family: @julius;
	  text-align: center;
	}

	.h2-subpage {
	  text-align: center;
	  font-family: @monda;
	}

	p {
		text-align: center;
		padding: 0 3rem 0rem 3rem;
	}
	label, input, textarea {
	  display: block;
	  padding: .3rem;
	}

	input.btn {
	  display: block;
	  margin-top: .6rem;
	}

	.row {
	  margin-left: 1rem;
	}

	#comments {
	  height: 3rem;
	  width: 15rem;
	}

	p.text {
	  text-align: center;
	}

	ul li {
	list-style-type: none;
	padding: .2rem;
	text-align: center;
	}

	div.left {
	  display: block;
	  text-align: center;
	}

	form {
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: left;
	}

	#more {
		display: none;
	}

	.btn, #aboutBtn {
	align-items: center;
	background: black;
	border: 0;
	border-radius: .2rem;
	color: #FFFFFF;
	padding: .4rem 1.5rem;
	}

	.btn:hover, #aboutBtn:hover {
		background: @gmc-rainbow;
	}

	#aboutBtn {
	display: block;
	margin: 0 auto;
	}
}

// MEDIA QUERIES
@media screen and (max-width: 680px) {
	.nav-links {
		position: absolute;
		right: 0;
		height: 25vh;
		top: 12vh;
		width: 50%;
		background-color: blue;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

.dates, .individualEvent {
	.julius();
}

.dates {
	h1, h2 {
		padding: 0 5%;
	}
}

.locations {
	padding: 0 5%;
	.monda();
}

.accordion {
	background-color: #eee;
	color: @black;
	padding: 3%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

.panel {
	flex-direction: column;
	display: none;
	overflow: hidden;
	a {
		padding: 3%;
		text-decoration: none;
		color: @black;
		.tickets {
			float: right;
		}
		}
	a:hover {
		background-color: @black;
		color: @white;
	}
}

.active, .accordion:hover {
	background-color: @white;
	color: @black;
	border: solid 3px @black;
}

ul.breadcrumb {
	padding: 0 5%;
	list-style: none;
	text-decoration: none;
	.monda();

	li {
		display: inline;
		font-size: 18px;

		a{
			color: @black;
		}
		a:hover {
			color: @gmc-indigo;
		}
	}


	//TODO: look this up!
	li+li:before {
		padding: 8px;
		color: @black;
		content: "/\00a0";
	}
  }

  .individualEvent {
	  h1 {
		padding: 0 5%;
	  }
  }

  .eventContent {
	  display: flex;
	  padding: 0 5%;
	  .eventInfo {
		  width: 70%;

		  h2 {
			  margin: 0;
		  }

		  .purchase {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			div {
				width: 30%;
				background-color: @white;
				padding: 2%;
				text-align: center;
				border: solid 1px;
				a {
					color: @black;
					text-decoration: none;
				}
			}

			div:hover {
				background-color: @black;
				text-decoration: underline;

				a {
					color: @white;
				}
			  }
		  }
	  }
	  .eventImg {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img {
			flex-shrink: 0.75;
			min-width: 100%;
			min-height: 100%;
		}
	}
  }

	@media screen and (min-width: 1024px) {
	  .contact-container {

			p.text {
				margin-left: 3rem;
				width: 65%;
			}
	  }

	  .contact-info{
	    display: flex;
	    flex-direction: column;
			padding: 1rem 0 0 4rem;
	  }

	  section.intouch {
	    padding: 1rem;
	    overflow:hidden;
	    float:left;
			margin-left: 5rem;
	  }

	  section.flex {
	    overflow:hidden;
	    display: flex;
	  }

	  .laptop {
	    padding-left: 3rem;
	  }
}
